main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.login-img-container{
    display: flex;
    width: 50%;   
}
.login-img{
    width: 100%;
    object-fit: contain;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 60px 0px;
}

.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registro-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
}
#login-container{
    display: flex;
    width: 75%;
}