main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.login-img-container{
    width: 50%;   
}
.login-img{
    width: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 60px 0px;

}

input#user-input, input#pass-input{
    outline: none;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(243, 243, 243);
    border-top: none;
    border-left: 5px lightblue solid;
    border-bottom: none;
    border-right: none;
    border-radius: 0px 0px 0px 0px;
}