{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
MOFU Store | Mi carro
{% endblock titulo %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/navstyles.css' %}">
{% endblock styles %}
{% block contenido %}
<header>
    {% include 'base\navbar_base.html' %}
</header>
<main style="margin-top: 85px; padding: 10px 0px;" class="container">
    <h2 class="fw-light">Mi carro</h2>
    {% if tiene_carro %}
    <h6 class="fw-light text-danger">{{mensaje_error}}</h6>
    <div>
        <table class="table">
            <tr>
                <th>N° Producto</th>
                <th>Nombre producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
                <th></th>
            </tr>
            {% for datos in detalle %}
            <tr>
                <td>{{datos.fumo_id}}</td>
                <td>{{datos.fumo__fumo_name}}</td>
                <td>{{datos.ammount}}</td>
                <td>{{datos.fumo__fumo_price}}</td>
                <td>${{datos.total}}</td>
                <td><a class="btn btn-danger" href="{% url 'quitar_item' datos.fumo_id datos.shopping_cart__id %}">Del</a></td>
            </tr>
            {%endfor%}
        </table>
        <div class="d-flex justify-content-end">
            <h5>Total: ${{total.value}}</h5> 
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <a href="{% url 'compra_cancelada' %}" class="btn btn-secondary mx-1">Cancelar compra</a>
            <a href="{% url 'compra_realizada' %}" class="btn btn-primary ">Confirmar compra</a>
        </div>
    </div>
    {%else%}
    <div>
        <span class="fw-light text-danger">{{mensaje_error}}</span>
        <h3 class="text-secondary">Aun no tienes productos en tu carro :(</h3>
        <div>
            <a href="{% url 'productos' %}" class="btn btn-primary">Ir a la tienda</a>
        </div>
    </div>
    {%endif%}
</main>
{%endblock contenido%}