{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
MOFU Store | Login
{% endblock titulo %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
{% endblock styles %}


{% block contenido %}
<main class="container">
    <div class="shadow-lg  bg-dark" id="login-container">
        <section class="login-img-container">
            <img src="{% static 'img/Logo_page.png' %}" alt="" class="login-img">
        </section>
        <form action="" method="post" class="form-container bg-white">
            {% csrf_token %}
            <header>
                <h1 class="fw-light mb-5">Iniciar sesion</h1>
            </header>

            <div class="d-flex  align-items-center flex-column">
                {{ login_form.username }}
                {{ login_form.password }}
                <span class="text-danger fw-light">{{mensaje_error}}</span>
                <a href="{% url 'registro' %}">¿Nuevo en el sitio?</a>
            </div>
            <footer class="w-50 mt-5">
                <button type="submit" class="w-100 btn btn-primary">Ingresar</button>
            </footer>
            <a href="{% url 'index' %}">Volver al inicio</a>
        </form>
    </div>
</main>
{% endblock contenido %}