{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
    MOFU Store | Packs MOFU
{% endblock titulo %}
{% block styles %}
    <link rel="stylesheet" href="{% static '/css/navstyles.css' %}">
{% endblock styles %}
{% block contenido %}
    <header>
        {% include 'base/navbar_base.html' %}
     
    </header>
    <main style="margin-top: 90px" class="d-flex">
        {% for fumos in fumo_model %}
            <ul>
                <li>{{fumos.id}}</li>
                <li>{{fumos.fumo_name}}</li>
            </ul>
        {% endfor %}
    </main>
    <footer>

    </footer>
{% endblock contenido %}