{% load static %}
<footer class="banner bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">

          <h4 class="text-center text-light" style="font-family: 'Barlow Condensed', sans-serif;">Página creada por:</h4>
          <h4 class="text-center text-light" style="font-family: 'Barlow Condensed', sans-serif;">Fernando Catalán</h4>
          <h4 class="text-center text-light" style="font-family: 'Barlow Condensed', sans-serif;">Marcos Reyes</h4>
          <h4 class="text-center text-light" style="font-family: 'Barlow Condensed', sans-serif;">Fernando Duque</h4>

          <h5 class="text-light" style="font-family: 'Barlow Condensed', sans-serif;">"¡Abraza la magia de los Fumos y deja que la alegría te acompañe en cada aventura!"</h5>

          
        </div>
      </div>
    </div>
</footer>
  