{% load static %}
<nav class="bg-dark navabsolute p-2">
    <div class="d-flex justify-content-between align-items-center container">
        <section class="d-flex align-items-center">
            <section class="d-flex align-items-center">
                <a href="{% url 'index' %}">
                    <img class="logo-img" src="{% static 'img/Logo_page.png' %}" alt="">
                </a>
                <section class="d-flex container justify-content-center">
                    <a href="{% url 'index'%}" class="nav-link text-light me-3">Inicio</a>
                    <a href="{% url 'productos' %}" class="nav-link text-light me-3">Productos</a>
                    <button class="nav-link me-3 text-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Categorias</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'filtro_deka' %}">Deka</a></li>
                        <li><a class="dropdown-item" href="{% url 'filtro_fumo' %}">Tradicional</a></li>
                        <li><a class="dropdown-item" href="{% url 'filtro_nendoroid' %}">Nendoroid</a></li>
                        <li><a class="dropdown-item" href="{% url 'filtro_puppet' %}">Puppet</a></li>
                        <li><a class="dropdown-item" href="{% url 'filtro_strap' %}">Strap</a></li>
                    </ul>
                </section>
            </section>
        </section>

        <section class="d-flex justify-content-center">
            <section >
                <form action="{% url 'buscar' %}" class="input-s-container">
                    <input type="text" placeholder="Buscar" class="input-search" name="search">
                    <button  class="btn-search" type="submit">
                        <img src="{% static 'svg/search.svg' %}" alt="">
                    </button>
                </form>
            </section>
        </section>

        <section class="d-flex align-items-center">
            <button class="nav-link me-3 text-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {% if user.is_staff %}
                    <img src="{% static 'svg/shield-fill.svg' %}" alt="">
                {%endif%}
                {% if user.is_authenticated %}
                    {{ user.first_name }}
                {%else %}
                Mi cuenta
                {%endif%}
            </button>
            <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin' %}">Administrar pagina</a></li>
                    {% endif %}
                <li><a class="dropdown-item" href="">Mis compras</a></li>
                <li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesion</a></li>
                {%else%}
                <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesion</a></li>
                <li><a class="dropdown-item" href="{% url 'registro' %}">Registrarse</a></li>
                {%endif%}
            </ul>
            <a href="{% url 'carrito' %}" class="btn-cart">
                <img src="{% static 'svg/cart.svg' %}" alt="">
            </a>
        </section>
    </div>
</nav>